*.iml
*.iws
*.ipr
.DS_Store
.idea/
.gradle/
/build/
/local.properties
/.idea/
*.swp
app/.externalNativeBuild/
captures/
img/
app/release/
gradleLogs/
fastlane/report.xml
fastlane/README.md
fastlane/Preview.html
